NET switch_0           LOC="P114" | IOSTANDARD=LVTTL;                                # C0
NET switch_1           LOC="P115" | IOSTANDARD=LVTTL;                                # C1
NET LED_0	           LOC="P100" | IOSTANDARD=LVTTL;                                # A15
NET LED_1	           LOC="P98"  | IOSTANDARD=LVTTL;                                # A14
NET notLED_0            LOC="P99"  | IOSTANDARD=LVTTL;					#B0
NET notLED_1				  LOC="P97"  | IOSTANDARD=LVTTL;             #B1
