NET switches(7)           LOC="P114" | IOSTANDARD=LVTTL;                                # C0
NET switches(6)           LOC="P115" | IOSTANDARD=LVTTL;                                # C1
NET switches(5)           LOC="P116" | IOSTANDARD=LVTTL;                                # C2
NET switches(4)           LOC="P117" | IOSTANDARD=LVTTL;                                # C3
NET switches(3)           LOC="P118" | IOSTANDARD=LVTTL;                                # C4
NET switches(2)           LOC="P119" | IOSTANDARD=LVTTL;                                # C5
NET switches(1)           LOC="P120" | IOSTANDARD=LVTTL;                                # C6
NET switches(0)           LOC="P121" | IOSTANDARD=LVTTL;                                # C7

NET LEDs(7)          LOC="P100" | IOSTANDARD=LVTTL;                                # A15
NET LEDs(6)          LOC="P98"  | IOSTANDARD=LVTTL;                                # A14
NET LEDs(5)          LOC="P93"  | IOSTANDARD=LVTTL;                                # A13
NET LEDs(4)          LOC="P88"  | IOSTANDARD=LVTTL;                                # A12
NET LEDs(3)          LOC="P85"  | IOSTANDARD=LVTTL;                                # A11
NET LEDs(2)          LOC="P83"  | IOSTANDARD=LVTTL;                                # A10
NET LEDs(1)           LOC="P81"  | IOSTANDARD=LVTTL;                                # A9
NET LEDs(0)           LOC="P79"  | IOSTANDARD=LVTTL;                                # A8






